<html>
<head>
</head>
<body>
<% if(errmsg.length > 0) { %>
<b><%= errmsg %></b><br>
<% } %>
<form method="post" enctype="multipart/form-data">
<b>Password</b><input type="password" name="password" /><br>
<b>Retype Password</b><input type="password" name="password_check" /><br>
<input type="submit" value="Reset Password" />
</form>
