<html>
<head>
</head>
<body>
<b>Thank you</b><br>
A email was sent to <%= user %>.  You should be receiving it shortly.
<% if (key.length > 0) { %>
    <br><b>DEBUG MODE</b><br>
    <a href='/resetpassword/<%= key %>'>http://localhost:3000/resetpassword/<%= key %></a>
<% } %>

</body>
</html>

