<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Edit Account</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/text.css" />
        <link rel="stylesheet" href="/css/960.css" />
        <!-- <link rel="stylesheet" href="/css/demo.css" /> -->
        <link rel="stylesheet" href="/css/mealdisp.css" />
    </head>
    <body>

    <script src="/jquery.js"></script>
    <script type="text/javascript">

        // Append to the submit errors
        function addSubmitError(errstr) {
            var textDiv = $(document.createElement('div'))
                .attr('id', 'errorline')
                .attr('class', 'grid_12')
                .css('text-align', 'center')
                .html(errstr);

            var textClear = $(document.createElement('div'))
                .attr('class', 'clear')
                .attr('id', 'clear');

            textDiv.appendTo("#submiterrors");
            textClear.appendTo("#submiterrors");
        }


        $(document).ready(function() {

            // Tell the browser not to cache my ajax requests
            $.ajaxSetup ({ cache: false });

            $('#passwordform').submit(function() {
                var regex = /^[a-zA-Z0-9_.]{6,64}$/;
                var performSubmit = true;

                // Clear all errors
                $('#submiterrors').empty();

                var currentPassword = $('#currentPassword').val();
                var newPassword = $('#newPassword').val();
                var newPasswordCheck = $('#newPasswordCheck').val();

                if(currentPassword.length <= 0) {
                    addSubmitError("Please type current password");
                    performSubmit = false;
                }

                if(newPassword.length <= 0) {
                    addSubmitError("Please type new password");
                    performSubmit = false;
                }
                else if(!regex.test(newPassword)){
                    addSubmitError("New password should be between 6 and 64 alphanumeric characters");
                    performSubmit = false;
                }
                else if(newPassword != newPasswordCheck) {
                    addSubmitError("New passwords do not match");
                    performSubmit = false;
                }
                if(performSubmit == false)
                    return false;

                var username = "<%= user.username %>";

                $.getJSON('/checkchangepassword', 
                        {   
                            username: username, 
                            currentPassword: currentPassword, 
                            newPassword: newPassword 
                        },
                        function(response) {

                            if(response.errStr != undefined && response.errStr.length > 0) {
                                if(response.errStr == "incorrectpassword") {
                                    addSubmitError("Current password is incorrect");
                                }
                                if(response.errStr == "badpasswordformat") {
                                    addSubmitError("The password format is incorrect");
                                }
                                if(response.errStr == "nonexistantuser") {
                                    addSubmitError("Huh?  This user does not exist(??)");
                                }
                                if(response.errStr == "wronguser") {
                                    window.location.replace("/");
                                }
                                if(response.errStr == "signin") {
                                    window.location.replace("/signin");
                                }
                            }
                            else if(response.message != undefined && response.message.length > 0) {
                                if(response.message == "passwordChanged") {
                                    window.location.replace("changed_password");
                                }
                            }
                        });

                return false;
            });
        });

    </script>

        <div class="container_12">
        <% if(message.length > 0 ) { %>
        <div class="grid_12">
            <span class="message"><%= message %></span>
        </div>
        <div class="clear"></div>
        <% } %>

        <% if(printReset == true) { %>
        <div class="grid_12">
        <a href='/resetuserpassword'>Reset Password</a>
        </div>
        <div class="clear"></div>
        <% } %>
        <form id="passwordform" method="post" enctype="multipart/form-data">

        <div id="submiterrors">
        </div>

        <div class="grid_12">
            <center>Change Password for <%= user.username %></center>
        </div>
        <div class="clear"></div>

        <div class="grid_4">
        Current Password:
        </div>
        <div class="grid_8">
        <input type="password" id="currentPassword" name="currentPassword" value="" />
        </div>
        <div class="clear"></div>

        <input type="hidden" name="passwordCheck" id="passwordCheck" value="" />

        <div class="grid_4">
        New Password:
        </div>
        <div class="grid_8">
        <input type="password" id="newPassword" name="newPassword" value="" />
        </div>
        <div class="clear"></div>

        <div class="grid_4">
        Confirm New Password:
        </div>
        <div class="grid_8">
        <input type="password" id="newPasswordCheck" name="newPasswordCheck" value="" />
        </div>
        <div class="clear"></div>

        <div class="grid_4">
        Submit
        </div>
        <div class="grid_8">
        <input type="submit" value="submit" />
        </div>
        <div class="clear"></div>
        </form>
        </div>

    </body>
</html>

