<html>
<head>
</head>
<body>
<h2>Reset Password</h2>
<% if(errmsg.length > 0) { %>
<b><%= errmsg %></b><br>
<a href='/signin'>Signin</a><br>
<% } %>
<form method="post" enctype="multipart/form-data">
<b>Email</b><br><input type="text" name="username" /><br><br>
<input type="submit" value="Signin" />
</form>
</body>
</html>
