body {
  background: #fff;
  color: #555;
  font-size: 18px;
  height: auto;
  padding-bottom: 20px;
}



a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
/*  font-family: Georgia, serif; */
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
/*  font-family: Georgia, serif; */
  color: #ddd;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

p {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

.container_12,
.container_16,
.container_24 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

.container_12 {
}

.container_16 {
}

.container_24 {
}

.change_password {
    color: #0000ff;
    text-align: center;
}

.review_meal_text {
    color: #111111;
    border: 1px solid #666;
    border-radius: 3px;
}


textarea {
    resize: none;
}

.mealinfo_input {
    width: 400px;
}

.editheight {
    height: 320px;
    height: auto !important;
    min-height: 320px;
}

.editgrid {
    rotation: 10deg;
}

.mealAttributesPopup {
    width:440px;
    z-index:9999;
    padding:20px;
}

.uploadMealPopup {
    width:440px;
    padding:20px;
    position:absolute;
    z-index:9999;
    width:800px;
    display:none;
    border-top-width:0px;
    background:#FFF;
}

.maskClass {
    position:absolute;
    z-index:9000;
    left:0;
    top:0;
    background-color:#000;
    display:none;
}

.editImage {
    box-shadow:3px 3px 5px #444;
    -webkit-box-shadow:3px 3px 5px #444;
    -moz-box-shadow:3px 3px 5px #444;
}

.mealAttributesPopup {
    position:absolute;
    z-index:9999;
    width:800px;
    display:none;
    border-top-width:0px;
    background:#FFF;
}

.mealAttributesPopupNofade {
    position:absolute;
    z-index:9999;
    width:800px;
    border-top-width:0px;
    background:#FFF;
}

.uploadMealCloseContainer {
    text-align: right;
    border:0px;
    height: 10px;
    font-size: 18px;
}

.uploadMealCloseContainer a:hover {
    text-decoration: none;
    cursor:pointer;
}

.uploadMealCloseButton {
    position:absolute;
    top:0px;
    text-align: right;
    border:0px;
    font-size: 20px;
}

.mealAttributesCloseContainer {
    text-align: right;
    border:0px;
    height: 10px;
    font-size: 18px;
}

.mealAttributesCloseContainer a:hover {
    text-decoration: none;
    cursor:pointer;
}

.mealAttributesCloseButton {
    position:absolute;
    top:0px;
    text-align: right;
    border:0px;
    font-size: 20px;
}

.mealAttributesPopup #mealAttributesCloseContainer a:hover {
    text-decoration: none;
    cursor:pointer;
}

#pop_title a:hover {
    text-decoration: none;
    cursor:pointer;
}

/*
.titleText div:hover {
    color: blue !important; 
}
*/

.meal_select_menu {
}

#meal_select_menu_div {
    margin:0;
    padding:0;
    list-style:none;
}

#meal_select_menu_div ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0 0 0 324px;
    left: 0;
}

#meal_select_menu_div li {
    float: left;
    display: block;
    width: 90px;
    position: relative;
    margin: 0 1px;
    z-index: 10001;
}

#meal_select_menu_div li a {
    display: block;
    padding: 0px 0px 0 0px;
    height: 40px;
    background: #fff;
    text-decoration: none;
    text-align: center;
}

#meal_select_menu_div li a:hover {
    cursor:pointer;
    color: blue;
}

.meal_select_anchor {
}

.grid_meal_selected {
    color: #000;
}

.stars_select_menu {
}

#stars_select_menu_div {
    margin:0;
    padding:0;
    display: block;
    height: 40px;
    list-style:none;
}

#stars_select_menu_div li {
    float: left;
    display: block;
    vertical-align: middle;
    width: 0px;
    position: relative;
    height: 40px;
    background-color: #fff;
    font-size: 26px;
    z-index: 10002;
}

.stars_select_menu {
}

.star_select_menu_selection {
    width: 42px;
    font-size: 40px;
    z-index: 10005;
}

.stars_select_anchor {
    width: 42px;
}

#stars_select_menu_div ul {
    position: absolute;
    display: block;
    list-style: none;
    padding: 0;
    margin: -7px 0 0 268px;
    left: 0;
}

.grid_review textarea:hover{
    cursor:pointer;
}

.review_text_area {
    margin: 12px 0 0 10px;
}

.stars_select_menu a:hover{
    cursor:pointer;
    text-decoration: none;
}

.stars_selected_star_hover {
    color: blue !important;
}

.stars_unselected_star_hover {
    color: #BBB !important;
}

.stars_selected_star {
    width: 42px;
    color: #555;
}

.stars_unselected_star {
    width: 42px;
    color: #BBB;
}

#pop_title a:hover {
    color: blue !important;
}

#pop_date_anchor {
}

#pop_date a:hover {
    text-decoration: none;
	cursor:pointer;
    color: blue !important;
}

#edit_meals_title h2 {
/*    font-family: Georgia, serif; */
    color: #111;
}

.slider {
  margin: 0 auto;
  width: 780px;
  position: relative;
  overflow: hidden;
}

.slider li {
  display: none;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

.mealcarousel {
  height: 780px;
  width: 780px;
  overflow: hidden;
  position: relative;
}

.pic-div {

  margin: 0 auto;
  width: 780px;
  top: 0px;
  height: 100%; 
  position: relative; 
  float: left;
  text-align: center;
}

.pic-div-image {
/*
  box-shadow:3px 3px 5px #444;
  -webkit-box-shadow:3px 3px 5px #444;
  -moz-box-shadow:3px 3px 5px #444;
*/
  float: center;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.pic-div-int {
  float: center;
  position: left;
  height: 100%;
}

.mealviewport {
  position: relative;
  top: 0px;
  height: 100%; 
  float: left;
/*  border: 2px solid#000066; position: relative; */
}

.mealviewport {
/*    background: transparent url(/images/tablecloth11.jpeg) repeat top left; */

background: rgb(206,220,231); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZGNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZmFmYWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, rgba(206,220,231,1) 0%, rgba(175,175,175,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(175,175,175,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(206,220,231,1) 0%,rgba(175,175,175,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(206,220,231,1) 0%,rgba(175,175,175,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(206,220,231,1) 0%,rgba(175,175,175,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(206,220,231,1) 0%,rgba(175,175,175,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#afafaf',GradientType=1 ); /* IE6-8 */

}

.mealCarouselContainer {
/*    background: rgba(255, 255, 255, 0.5) transparent url(/images/tablecloth.jpeg) repeat top left;  */
/*    background: transparent url(/images/tablecloth.jpeg) repeat top left; */
/*  border: 1px solid#000066; position: relative; */
/*  background: */
    /*
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    */
    /*
    box-shadow:3px 3px 5px #444;
    -webkit-box-shadow:3px 3px 5px #444;
    -moz-box-shadow:3px 3px 5px #444;
    */
}

.ca-nav span{
	width:25px;
	height:38px;
	background: transparent url(/images/arrows.png) no-repeat top left; position: absolute;
	top:50%;
	margin-top:-19px;
	/* left:-40px; */
	left:0px;
	text-indent:-9000px;
	opacity: 0.7;
	cursor:pointer;
	z-index: 10010;
}

.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:0px;
	z-index: 10010;
}

.ca-nav span:hover{
	opacity:1.0;
	z-index: 10010;
}

.uploadPictureAnchor {
    cursor:pointer;
}

.deletePictureAnchor {
    left: 0px;
    text-align: right;
    cursor:pointer;
}

.noclick {
    color: white;
    text-decoration: none;
    cursor:none;
}

.noclick a:hover {
    color: white;
    text-decoration: none;
    cursor:none;
}

/*
.carousel_caption.noclick a:hover {
    color: white;
    text-decoration: none;
    cursor:none;
}
*/

.delete_link {
    text-align: center;
}

.delete_link a {
    text-decoration: none;
    color: #555;
}

.delete_link a:hover {
    color: blue;
}

.keyAnchor {
    text-align: center;
    cursor:pointer;
}
.skipline {
    color: white;
}

.carousel_caption {
    font-size: 14px;
}

.carousel_caption a{
    text-decoration: none;
}
.carousel_caption a:hover{
    color: blue;
}

.keyicon span{
    width:128px;
    height:128px;
    background: transparent url(/images/keyicon.png) no-repeat top left; position: absolute;
    top:0%;
    left: 0%;
	text-indent:-9000px;
	opacity: 1.0;
	z-index: 10010;
}

.keyicon span.keyspan {
	z-index: 10010;

}

.pictureGridDiv {
    float: center;
    position: relative;
}

a.dp-choose-date {
    /*
    background: url("../images/calendar.png") no-repeat scroll 0 0 transparent;
    */
    display: block;
    float: left;
    height: 16px;
    margin: 5px 3px 0;
    overflow: hidden;
    padding: 0;
    /*
    text-indent: -2000px;
    */
/*    text-indent: 50px; */
    width: 16px;
}

#dp-popup {
    z-index: 10050;
}

/*
a.dp-choose-date.dp-disabled {
    background-position: 0 -20px;
    cursor: default;
}
*/

