<html>
<head>
</head>
<body>
<h1>Please sign in again</h1><br>
<% if(errmsg.length > 0) { %>
<b><%= errmsg %></b><br>
<a href='/forgot_password'>Forgot password?</a><br>
<% } %>
<form method="post" enctype="multipart/form-data">
<b>Email</b><br><input type="text" name="username" /><br><br>
<b>Password</b><br><input type="password" name="password" /><br><br>
<input type="submit" value="Signin" />
</form>


