<html>
<head>
</head>
<body>
<h2>Please sign in</h2><br>
<form method="post" enctype="multipart/form-data">
<b>Email</b><input type="text" name="username" /><br>
<b>Password</b><input type="password" name="password" /><br>
<input type="submit" value="Signin" />
</form>
